.abc {
    color:#ff0000;
    font-style:italic;
    font-weight:bold;
   text-align:left;
   line-height: 100px;
   border-style:solid;
}

.a {
    border-style:dashed;
    border-width: 6px;
    border-color:rgb(255,255,0);  
}
 
#asd {
    border-style:dashed;
    border-width: 6px;
    border-color:#ff00ff;
    padding:15px;
}
a {
    border-style:solid;
    display:inline-block;
    
}

p {
    position: relative;
}

div {
    border:solid;
    display:block;
    height:30px;
    box-sizing: border-box;
    
}

{
    box-sizing: border-box;
}



.row{
    border:soild red 1px;
  
}


.row ::after {
    content:"";
    display:block;
    clear:both;
}

.col {
    border:solid 2px black;
    display:float;
    height:100%;
    width:33.33%;
}

.col2 {
    border:solid 2px black;
    display:float;
    height:100%;
    width:50%;
}

.row{
    border:soild blue 2px;
    height:50%;
    
}